/*
.bg-sprite {
  background-image: url('/asset/bg-sb30b4f9406.png');
  background-repeat: no-repeat;
}


.bg-sprite {
  display: block;
  height: 264px;
  background-repeat: repeat;
  animation: play 1s steps(6) infinite;
}

@keyframes play {
  100% {
    background-position: 0 -1584px;
  }
}*/


body {
  margin: 0px 0px 1px 0px;  the extra 1px allows the iOS inner/outer check to work
  background: #000;
  overflow: hidden;
}
